body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Arial, sans-serif;
    height: 100vh;
    margin-top: 10%;
}

.container-hero {
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: #04121f;
}

.card-title {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 40px;
    color: white;
    
}

.card-title h1 {
    font-weight: bolder;
    font-size: 32px;
}

.card-title h2 {
    font-weight: 200;
    font-size: 16px;
}

.card-img {
    overflow: hidden;
    /* justify-content: center;
    align-items: center; */
    border-radius: 16px;
    width: 400px;
    height: 300px;
}